@model IEnumerable<PROJETO_RENATO.Models.Condominio>

@{
    ViewData["Title"] = "ListarCondominios";
}

<h1>Listar condominios</h1>

<p>
    <a class="btn btn-primary" asp-action="AdicionarCondominio">Adicionar novo condomínio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome do Condomínio
            </th>
            <th>
                CNPJ
            </th>
            <th>
                Endereço
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCondominio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
 
                @Html.ActionLink("Deletar", "deletar", "Condominio", new { id = item.IdCondominio }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Unidades", "ListarUnidades", "Unidade", new { id = ViewBag.UsuarioId, condominioID = item.IdCondominio }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Editar", "editar", "Condominio", new { id = item.IdCondominio }, new { @class = "btn btn-primary" })
            </td>
        </tr>
}
    </tbody>
</table>
