@model IEnumerable<PROJETO_RENATO.Models.Condominio>

@{
    ViewData["Title"] = "ListarCondominios";
    ViewData["NomeUsuario"] = ViewBag.Usuario.Nome;
}

<h1>Condominios</h1>
<br />
<p>
    @Html.ActionLink("Adicionar novo condominio", "AdicionarCondominio", "Condominio", new { usuarioId = ViewBag.Usuario.UsuarioId }, new { @class = "btn btn-primary" })
</p>
<table class="table" style="color:white !important;">
    <thead>
        <tr>
            <th>
                Nome do Condomínio
            </th>
            <th>
                CNPJ
            </th>
            <th>
                Endereço
            </th>
            <th>
                Botões Úteis
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink($"{item.NomeCondominio}", "Detalhes", "Condominio", new { condominioId = item.IdCondominio, usuarioId = ViewBag.Usuario.UsuarioId}, new { @style = "text-decotarion:none; color:white;" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    @Html.ActionLink("Unidades", "ListarUnidades", "Unidade", new { id = ViewBag.Usuario.UsuarioId, condominioID = item.IdCondominio }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Editar", "editar", "Condominio", new { id = item.IdCondominio, usuarioId = ViewBag.Usuario.UsuarioId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Deletar", "deletar", "Condominio", new { id = item.IdCondominio }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
