@model PROJETO_RENATO.Models.Unidade

@{
    ViewData["Title"] = "Editar";
    ViewData["NomeUsuario"] = ViewBag.Usuario.Nome;
}

<h1>Editar Unidade</h1>
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdUnidade" />
            <input type="hidden" asp-for="idCondominio" />
            <input type="hidden" asp-for="IdMorador" value="@Model.IdMorador"/>
            <div class="form-group">
                Tipo de Unidade
                <select class="form-control" asp-for="UnidadeTipoId">
                    <option selected hidden disabled>Selecione um tipo</option>
                    @foreach (TipoUnidade tipoUnidade in ViewBag.TipoUnidade)
                    {
                        <option value="@tipoUnidade.TipoUnidadeID">@tipoUnidade.Descricao</option>
                    }
                </select>
                <span asp-validation-for="UnidadeTipoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroUnidade" class="control-label"></label>
                <input asp-for="NumeroUnidade" class="form-control" />
                <span asp-validation-for="NumeroUnidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" asp-route-usuarioId="@ViewBag.Usuario.UsuarioId" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Voltar a lista de unidades","ListarUnidades","Unidade",new { id = ViewBag.Usuario.UsuarioId,  condominioID = Model.idCondominio},new {@class="btn btn-primary" })
</div>

