@model IEnumerable<PROJETO_RENATO.Models.Unidade>

@{
    ViewData["Title"] = "ListarUnidades";
}

<h1>Listar Unidades</h1>

<p>
    @Html.ActionLink("Criar Novo","AdicionarUnidade", "Unidade", new { condominioID = ViewBag.CondominioID }, new { @class= "btn btn-primary"})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tipo de Unidade
            </th>
            <th>
                Numero da Unidade
            </th>
            <th>
                Morador
            </th>
            <th>
                CPF do Morador
            </th>
            <th>
                Outros
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.TipoDeUnidade
            </td>
            <td>
                @item.NumeroUnidade
            </td>
            <td>
                @if (item.IdMorador > 0)
                {
                    @Html.ActionLink("Detalhes do Morador","Detalhes","Morador",new { idMorador = item.IdMorador}, new { @class = "btn btn-primary"})
                }
                else
                {

                }
            </td>
            <td>
                @if(item.)
            </td>
            <td>
                @Html.ActionLink("Deletar", "deletar", "Condominio", new { id = item.IdMorador }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Editar", "editar", "Condominio", new { id = item.IdMorador }, new { @class = "btn btn-primary" })
            </td>
        </tr>
}
    </tbody>
</table>
