@model IEnumerable<PROJETO_RENATO.Models.Unidade>

@{
    ViewData["Title"] = "ListarUnidades";
    ViewData["NomeUsuario"] = ViewBag.Usuario.Nome;
}

<h1>@ViewBag.Condominio.NomeCondominio</h1>
<br />

<p>
    @Html.ActionLink("Criar Novo", "AdicionarUnidade", "Unidade", new { id = ViewBag.Usuario.UsuarioId, condominioID = ViewBag.Condominio.IdCondominio }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Voltar a lista", "ListarCondominios", "Condominio", new { id = ViewBag.Usuario.UsuarioId }, new { @class = "btn btn-primary" })
</p>
<table class="table" style="color:white;">
    <thead>
        <tr>
            <th>
                Tipo de Unidade
            </th>
            <th>
                Numero da Unidade
            </th>
            <th>
                Proprietário
            </th>
            <th>
                Outros
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.tipoUnidade
                </td>
                <td>
                    @item.NumeroUnidade
                </td>
                <td>
                    @if (item.IdMorador != 0)
                    {
                        @Html.ActionLink("Detalhes do Proprietário", "DetalhesProprietario", "Unidade", new { ProrietarioId = item.IdMorador, usuarioId = ViewBag.Usuario.UsuarioId, condominioId = item.idCondominio }, new { @class = "btn btn-primary" })
                    }
                    else
                    {
                        @Html.ActionLink("Adicionar Proprietário", "AdicionarProprietario", "Unidade", new { unidadeId = item.IdUnidade, usuarioId = ViewBag.Usuario.UsuarioId }, new { @class = "btn btn-primary" })
                    }
                </td>
                <td>
                    @Html.ActionLink("Deletar", "deletar", "Unidade", new { id = item.IdUnidade, condominioId = ViewBag.Condominio.IdCondominio }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Editar", "Editar", "Unidade", new { id = item.IdUnidade, usuarioId = ViewBag.Usuario.UsuarioId }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
